.datatable {
  .cell-with-img {
    display: flex;
    align-items: center;

    .cell-img {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      margin-right: 20px;
    }
  }

  .cell-with-status {
    padding: 5px;
    border-radius: 5px;

    &.active {
      color: green;
      background-color: rgba(0, 128, 0, 0.05);
    }

    &.passive {
      color: crimson;
      background-color: rgba(220, 20, 60, 0.05);
    }

    &.pending {
      color: goldenrod;
      background-color: rgba(218, 165, 32, 0.05);
    }
  }

  .cell-action {
    display: flex;
    align-items: center;
    gap: 15px;

    .btn {
      padding: 2px 5px;
      border-radius: 5px;
      cursor: pointer;

      &.btn-view {
        border: 1px dotted rgba(0, 0, 139, 0.5);
      }

      &.btn-delete {
        border: 1px dotted rgba(220, 20, 60, 0.6);
      }
    }
  }
}
