.app {
  .main-container {
    display: flex;

    .main {
      flex: 6;
    }
  }

  &.dark {
    --container-color: #111;
    --box-shadow: 0px 3px 4px 0px hsla(0, 0%, 0%, 0.14),
      0px 3px 3px -2px hsla(0, 0%, 0%, 0.12),
      0px 1px 8px 0px hsla(0, 0%, 0%, 0.2);
    background-color: var(--container-color);
    color: rgb(156, 156, 156);

    .navbar {
      color: #999;
      border-color: #333;

      .left {
        .logo {
          color: #999;
        }
      }

      .items {
        .item {
          &:hover {
            color: #fff;
          }
        }
      }

      .search {
        border-color: gray;
      }
    }

    .sidebar {
      border-color: #333;

      ul {
        li {
          .icon {
            color: #999;
          }

          &:hover {
            background-color: #333;
          }
        }
      }
    }

    .chart-grid {
      stroke: rgba(228, 228, 228, 0.2);
    }

    .table {
      background-color: var(--container-color);

      .table-cell {
        color: gray;
      }

      .status {
        color: gray;
      }
    }

    .datatable {
      .datagrid {
        color: gray;
        border: none;

        .btn,
        .cell-with-status {
          color: gray;
          border: none;
        }
      }
    }

    input {
      background-color: transparent;
    }
  }
}