:root {
    /*========== Colours ==========*/
    --title-color: gray;
    --text-color: #555;
    --accent-color: #6439ff;
    --accent-color-alternate: #7451f8;
    --accent-color-light: #ece8ff;
    --container-color: #fff;

    /*========== Shadow =============*/
    --box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
}